###
### ignore these files
### 
.sass-cache/
_site
_drafts/*
.gitignore
CNAME
htmlwidgets_deps/*
.DS_Store
=======
.Rproj.user
.Rhistory
*.Rproj
.httr-oauth
.Rdata
=======
.jekyll
.jekyll-metadata
.bundle
.sass-cache
Gemfile
Gemfile.lock
node_modules
package.json
