---
layout: page
title: Tags
heads: posts by tag
permalink: /tag/
---
{% for tag in site.tags %} 
  <h2 id="{{ tag[0] }}-ref">{{ tag[0] }}</h2>
  <ul>
{% for post in site.posts %}
{% for ptag in post.tags %}
{% if ptag == tag[0] %}
<li class="archive_list">
		<h3 class="archive_list_header"><a class="archive_list_article_link" href='{{post.url}}'>{{post.title}}</a></h3>
		<time class="archive_list_post_date" datetime='{{post.date | date: "%Y-%m-%d"}}'>{{post.date | date: "%m/%d/%y"}}</time>
		<p class="summary">Summary: {{ post.description}}
	</li>
{% endif %}
{% endfor %}
{% endfor %}
</ul>
{% endfor %}