/* GUIDES */
.guide {
  border: 1px solid rgba(255,0,255, 0.075) !important; 
  position: fixed;
  z-index: 1;
}

.middle-guide {
  border: 1px solid rgba(0,0,255, 0.2) !important; 
  position: fixed;
  z-index: 1;
}

.box {
  border: 3px solid #d9230f !important; 
  position: fixed; 
  z-index: 2;
  display: table;
}

.filled {
  background-color: #d9230f;
  color: #ffffff;
  display: table-cell !important;
  vertical-align: middle !important;
  text-align: center;
}

.circle {
  border: 1px solid red !important; 
  position: fixed;
  z-index: 2;
  display: table;
  border-radius: 50%;
}

.ellipse {
  border: 1px solid red !important; 
  position: fixed;
  z-index: 2;
  display: table;
  border-radius: 50%;
}

img {
  border: 0
  box-shadow: none;
  margin: 0;
  background: none;
}

.center-img img {
  display: block;
  margin: auto !important;
}

.top-img {
  z-index: 100;
}

table {
  margin: 0 auto !important;
  padding: 50px !important;
  margin-bottom: 50px !important;
}

.footer {
    color: #000000;
    position: fixed;
    top: 93%;
    text-align: left;
    width: 100%;
    font-size: 1.5rem !important;
    height: 9%;
    z-index: 100;
    font-family: sans-serif;
}

.footer-rest {
    color: #000000;
    position: fixed;
    top: 99%;
    text-align: center;
    width: 100%;
    font-size: 1rem !important;
    height: 1%;
}

.smaller {
  font-size: smaller !important;
}

.smaller-75 {
  font-size: 75% !important;
}

.smaller-70 {
  font-size: 70% !important;
}

.smaller-65 {
  font-size: 65% !important;
}

.smaller-60 {
  font-size: 60% !important;
}

.smaller-50 {
  font-size: 50% !important;
}

/* MAIN */

.reveal h1 { 
  font-size: 2.0em; 
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.reveal h1, .reveal h2, .reveal h3 {
  word-wrap: normal;
  -moz-hyphens: none;
  font-weight: 800;
}

.reveal table {
   margin-bottom: 1em; 
}

.reveal li {
   margin-bottom: .4em;
}

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
	margin-top: .4em;
}

.reveal .slides {
  text-align: left;
}

.reveal small {
	font-size: 0.85em;
}

.reveal pre {   
  margin-top: 0;
  max-width: 95%;
  border: 1px solid #ccc;
  white-space: pre-wrap;
  margin-bottom: 1em; 
}

.reveal pre code {
  display: block; padding: 0.5em;
  font-size: 20px;
  line-height: 1.1em;
  background-color: white;
  overflow: visible;
  max-height: none;
  word-wrap: normal;
}

.reveal code {
  overflow: visible;
  max-height: none;
}

.reveal code.r {
  background-color: #F8F8F8;
}

.reveal code.cpp {
  background-color: #F8F8F8;
}

.reveal section del {
   text-decoration: none;
   color: #AAB1BA;
}

.reveal section img {
   border: none;
   box-shadow: 0 0 0px rgba(0, 0, 0, 0);
}

.section .reveal h1,
.section .reveal h2,
.section .reveal p {
   color: white;
   margin-top: 60px;
}

.reveal .slides section .slideContent h2 {
   font-size: 1.3em;
   font-weight: bold;
}

.reveal .slides section .slideContent h3 {
   font-size: 1.1em;
   font-weight: bold;
}



/*MINE */
.reveal strong {
  color: black;
}

.section .reveal .state-background {
  background: rgb(63, 63, 63);
  background-size: 100%;
} 

.reveal .state-background {
  background: #FFFFFF;
  background-image: url(https://raw.githubusercontent.com/eringrand/RTutorials/gh-pages/Lesson1/images/uncommonbackground.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  margin:0;
  padding:0;
}

hr {
    display: block;
    border: 0;
    border-top: 1px solid rgb(255, 221, 0);
    padding: 0;
}

.qa .reveal .state-background{
  background: rgb(255, 221, 0);
}